<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <!-- General -->
  <category label="30100">
    <setting id="debug" type="bool" label="30101" default="false" />
    <setting id="showmessage" type="bool" label="30102" default="true" />
  </category>
  <category label="30300">
    <setting label="30391" type="lsep"/>
    <setting id="mac" type="text" label="30201" default="00:00:00:00:00:00" />
    <setting label="30390" type="lsep"/>
    <setting id="host" type="ipaddress" label="30311" default="192.168.1.1" />
    <setting id="port" type="number" label="30316" default="23" />
    <setting id="user" type="text" label="30312" default="Administrator" />
    <setting id="pass" type="text" label="30313" default="" option="hidden" />
    <setting type="sep"/>
    <setting label="30301" type="labelenum" id="linebreaks" lvalues="30302|30303"/>
    <setting id="shutdowncmd" type="text" label="30314" default="shutdown /h" />
    <setting id="timeout" type="number" label="30315" default="1" />
    <setting label="30400" type="lsep"/>
    <setting id="loginresponse" type="text" label="30401" default="login:" />
    <setting id="passwordresponse" type="text" label="30402" default="password:" />
    <setting id="prompt" type="text" label="30403" default="C:\Users\Administrator" />
  </category>
</settings>